@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: #000;
    font-family: 'Lobster',sans-serif;
}

.navbar-brand:hover{
    color: #000;

}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Rubik',sans-serif;
}

.nav-link:hover{
    color: #000;
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline:none;
    margin-right: -35px;
    border: 2px solid rgb(248,26,92);
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248,26,92);
    color: #fff;
    font-weight: 700;
    border-radius: 60px;

}

.main{
    background: url('images/lunchcopy.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
    
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248,26,92);
    color: #fff;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background-color: #000;
    transition: 0.5s ease;
}

h1{
    font-weight: 700;
}

.card:hover{
    box-shadow: 1px -3px 22px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -3px 22px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -3px 22px -2px rgba(0,0,0,0.75);
    transition: 0.5s;
    cursor: pointer;
}

.apple{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('images/red.jpg') no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    
}

.apple h1{
    font-family: 'Lobster',sans-serif;
}

.news{
    background-color: #000;
    color: #fff;

}

.btn2{
    height: 45px;
    width: 100px;
    background: #fff;
    margin-left:10px;
    border-radius: 20px;
    font-weight: 600;
    border: 2px solid #fff;

}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: 700;
    padding-left: 20px;
}

.news::placeholder{
    color: white;

}

.news p{
    margin: 0;
}

.fab{
    font-size: 2.5rem;
    cursor: pointer;
}