*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    scroll-behavior: smooth;
}


h1{
    font-family: 'Dancing Script';
}

.carousel-item img{
    width: 100%;
    height: 80vh;
}

.card-body img{
    min-width: 50%;
    max-height: 200px;
}

footer p{
    padding : 20px;
    font-size: 25px;
    font-weight: 500;
}


@media (max-width:576px) {
    .about,.services{
        width: 100%;
        text-align: center;
    }

    .col-second{
        text-align: center;
        /* margin-right: 2.5rem; */
    }

    footer p{
        padding: 12px;
        font-size: 17px;
        font-weight: 500;
    }
}
